.filters {
    display: flex;
    align-items: center;
    gap: 12px;

    &__button {
        position: relative;
        border: 1px solid transparent;
        background-color: transparent;
        padding: 10px 20px;
        border-radius: $radius;
        color: $color-text-default;
        white-space: nowrap;

        @include hover {
            cursor: pointer;
        }

        &--active {
            border-color: $color-accent;
            color: $color-accent;
        }

        &:not(.filters__button--active) {
            @include hover {
                color: $color-accent;
            }
        }
    }

    &__label {
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
    }

    &__count {
        font-weight: 900;
        font-size: 10px;
        line-height: 1.5;
        position: absolute;
        top: 5px;
        right: 20px;
    }
}
