.header {
    text-align: center;

    @include max-mobile {
        margin-bottom: 45px;
    }

    @include min-desktop {
        margin-bottom: 85px;
    }

    &__title {
        line-height: 1.3;
        font-weight: 700;

        @include max-mobile {
            font-size: 32px;
        }

        @include min-desktop {
            font-size: 46px;
        }
    }

    &__subtitle {
        line-height: 1.5;
        margin-bottom: 8px;
        font-weight: 700;
        text-transform: uppercase;

        @include max-mobile {
            font-size: 14px;
        }

        @include min-desktop {
            font-size: 16px;
        }
    }
}
