.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px 40px;
    min-width: 320px;

    &__container {
        width: 100%;
        max-width: 1230px;
        margin: 0 auto;
    }

    @media (max-width: 758px) {
        padding: 20px $padding-mobile;
    }
}
