.search {
    position: relative;
    width: 100%;
    height: 41px;
    box-sizing: border-box;

    @include min-desktop {
        max-width: 315px;
    }

    &__input {
        width: 100%;
        padding: 11px 48px 11px 16px;
        font-size: 14px;
        border: 1px solid $color-border;
        border-radius: $radius;
        outline: none;
        box-sizing: border-box;

        &::placeholder {
            color: $color-text-default;
        }
    }

    &__icon {
        position: absolute;
        right: 16px;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: #b5b8bd;
    }
}
