@import "normalize";

@import "fonts";
@import "variables";
@import "mixins";

@import "utils/swipe";

@import "blocks/page";
@import "blocks/header";
@import "blocks/catalog";
@import "blocks/card";
@import "blocks/filters";
@import "blocks/search";

body {
  font-family: "Lato", sans-serif;
}
